<a href="https://colab.research.google.com/github/l22141210-collab/Analisis-y-visualizacion-de-datosgood/blob/main/Estadistica_descriptivaGerardo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
install.packages("readxl")
library(readxl)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
datos=read_excel("data.xlsx")
head(datos)

  Helado   Estatura peso     Ingresos Educacion Hijos
1 Limón    1.806198 89.95462 1601.832 4         1
2 Maracuyá 1.854355 85.18091 1740.319 2         0
3 Mora     1.640591 71.52460 1432.034 1         4
4 Coco     1.559733 86.17954 2068.077 1         2
5 Fresa    1.854728 59.88186 1639.082 1         0
6 Mora     1.653885 86.44549 2026.320 2         2

In [ ]:
mean(datos$Estatura)

[1] 1.734004

In [1]:
apply(as.matrix(datos[,2:4]), 2,mean)

ERROR: Error: object 'datos' not found